@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9838 0.0023 256.6613);
  --foreground: oklch(0.2064 0.0388 265.5472);
  --card: oklch(0.9675 0.0046 256.6711);
  --card-foreground: oklch(0.2064 0.0388 265.5472);
  --popover: oklch(0.9675 0.0046 256.6711);
  --popover-foreground: oklch(0.2064 0.0388 265.5472);
  --primary: oklch(0.6242 0.1145 222.5802);
  --primary-foreground: oklch(0.9884 0.0091 214.3420);
  --secondary: oklch(0.9200 0.0157 272.4748);
  --secondary-foreground: oklch(0.3279 0.0712 269.4208);
  --muted: oklch(0.9364 0.0055 256.6757);
  --muted-foreground: oklch(0.5403 0.0360 256.8111);
  --accent: oklch(0.9598 0.0136 214.3599);
  --accent-foreground: oklch(0.5259 0.0957 222.1446);
  --destructive: oklch(0.5786 0.2137 27.1659);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.9112 0.0102 256.6952);
  --input: oklch(0.9112 0.0102 256.6952);
  --ring: oklch(0.6242 0.1145 222.5802);
  --chart-1: oklch(0.6242 0.1145 222.5802);
  --chart-2: oklch(0.5396 0.1555 291.8699);
  --chart-3: oklch(0.6475 0.1292 160.1873);
  --chart-4: oklch(0.6806 0.1474 66.2311);
  --chart-5: oklch(0.5786 0.2137 27.1659);
  --sidebar: oklch(0.9671 0.0055 256.6748);
  --sidebar-foreground: oklch(0.2887 0.0646 265.1126);
  --sidebar-primary: oklch(0.6242 0.1145 222.5802);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9356 0.0074 256.6832);
  --sidebar-accent-foreground: oklch(0.5259 0.0957 222.1446);
  --sidebar-border: oklch(0.9193 0.0093 256.6912);
  --sidebar-ring: oklch(0.6242 0.1145 222.5802);
  --font-sans: Inter, system-ui, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.25rem;
  --shadow-x: 0px;
  --shadow-y: 2px;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.06;
  --shadow-color: 215 30% 10%;
  --shadow-2xs: 0px 2px 10px 0px hsl(215 30% 10% / 0.03);
  --shadow-xs: 0px 2px 10px 0px hsl(215 30% 10% / 0.03);
  --shadow-sm: 0px 2px 10px 0px hsl(215 30% 10% / 0.06), 0px 1px 2px -1px hsl(215 30% 10% / 0.06);
  --shadow: 0px 2px 10px 0px hsl(215 30% 10% / 0.06), 0px 1px 2px -1px hsl(215 30% 10% / 0.06);
  --shadow-md: 0px 2px 10px 0px hsl(215 30% 10% / 0.06), 0px 2px 4px -1px hsl(215 30% 10% / 0.06);
  --shadow-lg: 0px 2px 10px 0px hsl(215 30% 10% / 0.06), 0px 4px 6px -1px hsl(215 30% 10% / 0.06);
  --shadow-xl: 0px 2px 10px 0px hsl(215 30% 10% / 0.06), 0px 8px 10px -1px hsl(215 30% 10% / 0.06);
  --shadow-2xl: 0px 2px 10px 0px hsl(215 30% 10% / 0.15);
  --tracking-normal: -0.005em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1383 0.0112 267.2134);
  --foreground: oklch(0.9044 0.0060 264.5302);
  --card: oklch(0.1830 0.0160 269.1974);
  --card-foreground: oklch(0.9365 0.0039 264.5381);
  --popover: oklch(0.1726 0.0142 269.2617);
  --popover-foreground: oklch(0.9365 0.0039 264.5381);
  --primary: oklch(0.7701 0.1313 210.2019);
  --primary-foreground: oklch(0.1096 0.0084 266.2414);
  --secondary: oklch(0.2093 0.0359 286.6727);
  --secondary-foreground: oklch(0.8490 0.0423 289.2880);
  --muted: oklch(0.2261 0.0182 269.2839);
  --muted-foreground: oklch(0.6707 0.0216 264.4197);
  --accent: oklch(0.7701 0.1313 210.2019);
  --accent-foreground: oklch(0.8585 0.1062 206.8482);
  --destructive: oklch(0.5229 0.1854 26.4988);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.2690 0.0174 269.4744);
  --input: oklch(0.2491 0.0155 269.5025);
  --ring: oklch(0.7701 0.1313 210.2019);
  --chart-1: oklch(0.7701 0.1313 210.2019);
  --chart-2: oklch(0.6201 0.1575 292.7335);
  --chart-3: oklch(0.7256 0.1523 161.8701);
  --chart-4: oklch(0.8110 0.1589 82.2571);
  --chart-5: oklch(0.5939 0.1862 24.8375);
  --sidebar: oklch(0.1248 0.0106 265.8250);
  --sidebar-foreground: oklch(0.8393 0.0101 264.5103);
  --sidebar-primary: oklch(0.7701 0.1313 210.2019);
  --sidebar-primary-foreground: oklch(0.1096 0.0084 266.2414);
  --sidebar-accent: oklch(0.2261 0.0182 269.2839);
  --sidebar-accent-foreground: oklch(0.8585 0.1062 206.8482);
  --sidebar-border: oklch(0.2289 0.0136 269.5365);
  --sidebar-ring: oklch(0.7701 0.1313 210.2019);
  --font-sans: Geist Sans, Inter, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Geist Mono, JetBrains Mono, monospace;
  --radius: 0.3rem;
  --shadow-x: 0px;
  --shadow-y: 10px;
  --shadow-blur: 20px;
  --shadow-spread: -6px;
  --shadow-opacity: 0.45;
  --shadow-color: 0 0% 0%;
  --shadow-2xs: 0px 10px 20px -6px hsl(0 0% 0% / 0.23);
  --shadow-xs: 0px 10px 20px -6px hsl(0 0% 0% / 0.23);
  --shadow-sm: 0px 10px 20px -6px hsl(0 0% 0% / 0.45), 0px 1px 2px -7px hsl(0 0% 0% / 0.45);
  --shadow: 0px 10px 20px -6px hsl(0 0% 0% / 0.45), 0px 1px 2px -7px hsl(0 0% 0% / 0.45);
  --shadow-md: 0px 10px 20px -6px hsl(0 0% 0% / 0.45), 0px 2px 4px -7px hsl(0 0% 0% / 0.45);
  --shadow-lg: 0px 10px 20px -6px hsl(0 0% 0% / 0.45), 0px 4px 6px -7px hsl(0 0% 0% / 0.45);
  --shadow-xl: 0px 10px 20px -6px hsl(0 0% 0% / 0.45), 0px 8px 10px -7px hsl(0 0% 0% / 0.45);
  --shadow-2xl: 0px 10px 20px -6px hsl(0 0% 0% / 1.13);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}